/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2018-09-05 22:04:47 */

.cms-index-index .header-container.type14 {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: transparent;
}
.footer-bottom {
    border-top: 1px solid #ecebec;
}
.footer-middle {
    border-bottom: 1px solid #dddbdd;
}